@use "../general/" as g;

.center-wraper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home {
  position: relative;
  height: 800px;
  overflow: hidden;

  .box {
    position: absolute;
    width: 200px;
    height: 20px;
    background-color: g.$fontColor;
    top: 58%;
    right: 15%;
    transition: all 1s ease-in-out;
    z-index: 99;
    &.active {
      transition: all 1s ease-in-out;
      top: -100%;
    }
  }

  h1 {
    text-transform: uppercase;
    font-size: g.$largeFont;
    &:nth-child(1) {
      position: absolute;
      top: 10%;
      left: 5%;
      transition: all 1s ease-in-out;
      &.active {
        top: -100%;
      }
    }
    &:nth-child(2) {
      position: absolute;
      top: 50%;
      left: 20%;
      transition: all 1s ease-in-out;
      &.active {
        top: -100%;
      }
    }
    &:nth-child(4) {
      position: absolute;
      top: 70%;
      right: 5%;
      transition: all 1s ease-in-out;
      &.active {
        top: -100%;
      }
    }
  }
  .bar {
    @include g.glassEffect();
    height: 100%;
    width: 10px;
    position: absolute;
    top: 0;
    border-radius: 0;
    .nav-con {
      position: relative;
      height: 100%;
      width: 100%;
    }
  }
}
@media (min-width: 1600px) {
  .home {
    border: 10px solid rgba(201, 193, 193, 0.381);
    border-radius: 18px;
    .bar {
      background: none;
    }
  }
}
