@use "../general/" as g;
section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  .pg-container {
    @include g.glassEffect();
    height: 590px;
    width: 1000px;
    border-radius: 50px;
    position: absolute;
    transition: all 1s ease-in-out;
    left: 10%;
    bottom: 5%;

    &.active {
      bottom: -100%;
    }
    &.active-left {
      transition: all 1s ease-in-out;
      left: -100%;
    }
    &.active-right {
      transition: all 1s ease-in-out;
      left: 120%;
    }
    &.active-top {
      transition: all 1s ease-in-out;
      bottom: 120%;
    }
    h1 {
      position: absolute;
      transform: translate(-50%, -50%);
      top: 0;
      left: 50%;
      transition: all 1s ease-in-out;

      &.active {
        top: 500px;
      }
    }
    .img-con {
      padding: 40px;
      padding-top: 60px;
      width: 100%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      column-gap: 60px;
      row-gap: -5px;
      .game {
        img {
          border: 10px solid #000;
          border-radius: 18px;
          cursor: pointer;
          &:hover {
            border: 10px solid g.$primary;
          }
        }
        h2 {
          font-size: 42px;
          color: g.$fontColor;
          text-align: center;
        }
      }
    }
  }
}
