@use "../../general/" as g;
.new-user-con {
  position: absolute;
  top: -50%;
  left: 35%;
  transform: translate(-35%, -35%);
  transition: 1s ease-in-out all;
  .member-input {
    color: black;
    font-weight: 500;
  }
  &.true {
    top: 17%;
  }
  color: #ffffff;
  @include g.glassEffect();
  padding: 30px;
  border-radius: 19px;
  width: 100%;
  z-index: 10;
  background: rgba(0, 0, 0, 0.665);
  h3 {
    color: #fff;
    font-size: 28px;
  }
  p {
    font-size: 24px;
    color: #fff;
  }
  input[type="radio"] {
    display: none;
  }
  input[type="radio"]:checked + .user-label span {
    transform: scale(1.25);
  }
  input[type="radio"]:checked + .user-label .red {
    border: 2px solid #711313;
  }
  input[type="radio"]:checked + .user-label .orange {
    border: 2px solid #873a08;
  }
  input[type="radio"]:checked + .user-label .yellow {
    border: 2px solid #816102;
  }
  input[type="radio"]:checked + .user-label .olive {
    border: 2px solid #505a0b;
  }
  input[type="radio"]:checked + .user-label .green {
    border: 2px solid #0e4e1d;
  }
  input[type="radio"]:checked + .user-label .teal {
    border: 2px solid #003633;
  }
  input[type="radio"]:checked + .user-label .blue {
    border: 2px solid #103f62;
  }
  input[type="radio"]:checked + .user-label .violet {
    border: 2px solid #321a64;
  }
  input[type="radio"]:checked + .user-label .purple {
    border: 2px solid #501962;
  }
  input[type="radio"]:checked + .user-label .pink {
    border: 2px solid #851554;
  }
  .user-label {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    cursor: pointer;
  }
  .user-label:hover span {
    transform: scale(1.25);
  }
  .user-label span {
    display: block;
    width: 100%;
    height: 100%;
    transition: transform 0.2s ease-in-out;
  }
  .user-label span.red {
    background: #db2828;
  }
  .user-label span.orange {
    background: #f2711c;
  }
  .user-label span.yellow {
    background: #fbbd08;
  }
  .user-label span.olive {
    background: #b5cc18;
  }
  .user-label span.green {
    background: #21ba45;
  }
  .user-label span.teal {
    background: #00b5ad;
  }
  .user-label span.blue {
    background: #2185d0;
  }
  .user-label span.violet {
    background: #6435c9;
  }
  .user-label span.purple {
    background: #a333c8;
  }
  .user-label span.pink {
    background: #e03997;
  }
}
.buttons {
  display: flex;
  gap: 20px;
}
