@use "../general/" as g;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: inherit;
}
html {
  overflow-x: hidden;
}

body {
  background-color: g.$bgColor;
  overflow: hidden;
}
ul {
  padding: 0;
  list-style-type: none;
}
h1 {
  color: g.$fontColor;
}
a {
  text-decoration: none;
}
.container,
section {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
